body{
    background-image: url("../images/LianaScrap_Set001_3.jpg");
    height: 400px;
    background-repeat: repeat;
}

header {
	background-color: black;
	color: white;
	padding: 10px;
}
.logo {
	margin: auto;
	text-align: center;
}
.navbar {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.navbar ul li {
	display: inline-block;
}
.navbar ul li a {
	text-decoration: none;
	color: white;
	font-family: Courier;
	padding: 50px;
	margin-left: -30px;
}
.navbar ul li a:hover {
	color: #25474A;
}
.descr {
	/*background-color: black;*/
}
.descr p {
	color: white;
	padding: 20px;
	text-align: center;
	font-family: Arial;
}
footer {
	clear: both;
	color: white;
	font-family: Arial;
	font-size: 9px;
	text-align: center;
}