body{
    background-image: url("../images/LianaScrap_Set001_3.jpg");
    background-repeat: repeat;
    display: block;
    margin: 0px;
    overflow: auto;
    width: 1450px;
}

header {
	background-color: black;
	color: white;
	padding: 10px;
	width: 100%;
}
.logo {
	margin: auto;
	text-align: center;
}
/*.navbar {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.navbar ul li {
	display: inline-block;
}
.navbar ul li a {
	text-decoration: none;
	color: white;
	font-family: Courier New, Courier, monospace;
	padding: 50px;
	margin-left: -30px;
}
.navbar ul li a:hover {
	color: #25474A;
}
.descr {
	background-color: black;
}
.descr p {
	color: white;
	padding: 20px;
	text-align: center;
	font-family: Arial;
}*/
.navboxes {
	display: inline;
	margin: auto;
}
.about {
	background-color: rgba(56, 56, 56, 0.5);
	text-align: center;
	font-family: Helvetica;
	border: 2px solid white;
	width: 400px;
	height: 140px;
	line-height: 143px;
	margin: auto;
	margin-top: 20px;
	float: left;
	margin-left: 300px;
}
.about a {
	text-decoration: none;
	color: white;
}
.portfolio {
	background-color: rgba(56, 56, 56, 0.5);
	text-align: center;
	font-family: Helvetica;
	border: 2px solid white;
	width: 400px;
	height: 140px;
	line-height: 160px;
	margin: auto;
	margin-top: 20px;
	float: right;
	margin-right: 300px;
}
.portfolio a {
	text-decoration: none;
	color: white;
}
footer {
	clear: both;
	color: white;
	font-family: Arial;
	font-size: 9px;
	text-align: center;
	padding: 30px;
}