body{
	background-color: gray;
    background-image: url("LianaScrap_Set001_3.jpg");
    height: 400px;
    background-repeat: repeat;
}

header {
	background-color: black;
	color: white;
	padding: 10px;
}
.logo img {
	margin: auto;
}
.navbar {
	margin-left: auto;
	margin-right: auto;
}
.navbar ul li {
	display: inline-block;
}
.navbar ul li a {
	text-decoration: none;
	color: white;
	font-family: Helvetica;
}
.navbar ul li a:hover {
	color: gray;
}